body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: powderblue;
    overflow: hidden;
}


.card{
    display:grid;
    grid-template-columns: 250px;
    grid-template-rows: 180px 160px 70px;
    grid-template-areas: "image" "text" "stats";

    font-family: roboto;
    border-radius: 20px;
    background: rgb(253, 252, 252);
    box-shadow: 5px 5px 15px rgb(77, 71, 71);
    text-align: center;

    transition: 0.6s ease;
    cursor: pointer;
}

.card-image {
    grid-area: image;
    background: url(./burrito.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15x;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 15px;
}
.card-text .date {
    color:red;
    font-size: 13px;
}
.card-text p {
    color: grey;
    font-size: 9px;
    font-weight: 200;
}
.card-text h2 {
    margin-top: 0px;
    font-size: 20px;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px ;
    border-bottom-right-radius: 15px;
    background: rgb(11, 207, 76);
}
.card-stats .stat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}
.card-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}
.card-stat .value {
    font-size: 22px;
    font-weight: 500;
}
.card-stats .border {
    border-left: 1px solid rgb(255, 253, 253);
    border-right: 1px solid rgb(253, 253, 253);
}
.card-stats .value sup{
    font-size: 12px;
}

.card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px black;
}

